$dark-color: #333;
$light-gray: #999;
$primary-color: #f27a1a;
$versand-background: #535353;
$light-color: #fff;
$primary-font: 'Source Sans Pro', sans-serif;
$marken-bg: #dcdcdcc4;

//CARDS


// $shipping-icon: <i class="fas fa-shipping-fast"></i>;
//<i class="fas fa-search"></i>