// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./abstracts";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// GENERAL SETTINGS
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    all: unset;
}

ul {
    @include reset-list;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

hr {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
}

html {
    scroll-behavior: smooth;
}

body {}

// HEADER

header {



    .container {}

    //Header-top
    .header-top ul {

        width: 100%;
        @include flex-display(flex, center, flex-end);

        li {
            margin: .4rem 0 .4rem 1rem;
            font-size: .8rem;

            a {
                text-decoration: none;
                color: $light-gray;
            }

            a:hover {
                color: $dark-color;
            }
        }
    }

    //Header-middle

    .header-middle {

        position: sticky;
        top: 0rem;



        @include flex-display(flex, center, space-between);

        .logo a {
            font-size: 2.5rem;
            font-family: $primary-font;
            font-weight: 700;
            transition: $transition;
        }

        .logo a:hover {
            color: $primary-color;
        }

        .search-box {
            position: relative;

            width: 45%;

            input {
                width: 100%;
                height: 2.4rem;
                border: none;
                background-color: $search-bg;
                color: $light-gray;
                font-size: .8rem;
                border-radius: 5px;
                padding-left: 1rem;
                transition: $transition;
                box-shadow: 1px 1px 3px gray;
            }

            input:focus {
                border: 2px solid $primary-color;
                transition: $transition;
            }

            a {
                //search icon
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: 1.4rem;
                color: $primary-color;
            }
        }

    }

}

// DROPDOWN ANMELDEN
.sign-in-up {
    @include flex-display(flex, center, space-between);

    div {
        margin: .4rem 0 .4rem 3rem;
    }

    a {
        color: $dark-color;
    }
}

.dropdown {
    position: relative;
    display: inline;
}

.dropbtn {
    color: $dark-color;
    background-color: #fff;
    font-size: .9rem;
    border: none;
}

.dropdown-content a {
    font-size: .9rem;
}

//ICONS

.einloggen::before {
    content: "\f007";
    font-family: "FontAwesome";
    display: inline-block;
    margin-right: .3rem;
    font-size: .9rem;
}

.favoriten a::before {
    content: "\f004";
    font-family: "FontAwesome";
    display: inline-block;
    margin-right: .3rem;
    font-size: .9rem;
}

.warenkorb a::before {
    content: "\f07a";
    font-family: "FontAwesome";
    display: inline-block;
    margin-right: .3rem;
    font-size: .9rem;
}

//HOVER

.einloggen:hover {
    color: $primary-color;
}

.favoriten:hover a {
    color: $primary-color;
}

.warenkorb:hover a {
    color: $primary-color;
}

.dropdown-content {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 12rem;
    height: 6rem;
    @include flex-center;
    flex-direction: column;
    position: absolute;
    left: -6rem;
    top: 25px;
    visibility: hidden;
    transition: $transition;
    background-color: $marken-bg;

}

.dropdown:hover .dropdown-content {
    visibility: visible;
}

.dropdown-content a:nth-child(1):hover {
    background-color: $primary-color;
    color: $light-color;
}

.dropdown-content a:nth-child(2):hover {
    background-color: $primary-color;
    color: $light-color;
}



.dropdown-content a:nth-child(1) {
    width: 11rem;
    height: 2rem;
    background-color: $primary-color;
    color: $light-color;
    border: 1px solid $light-gray;
    border-radius: 5px;
    /* background-color: $primary-color; */
    @include flex-center;
}

.dropdown-content a:nth-child(2) {
    width: 11rem;
    height: 2rem;
    color: $dark-color;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    @include flex-center;
    margin-top: .5rem;
    border: 1px solid $light-gray;

}

//Header-bottom

.header-bottom {
    position: relative;

    @include flex-display(flex, center, space-between);
    margin-top: 2rem;
    margin-bottom: 0;

    .shipping h6::before {
        content: "\f48b";
        font-family: "FontAwesome";
        display: inline-block;
        margin-right: .3rem;
        color: $light-gray;
    }

}

.damen {
    margin-right: 2rem;
}

.damen-category,
.herren-category {
    width: 100%;
    height: 30rem;
    top: 1.7rem;
    left: 0;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    transition: $transition;
    z-index: 1000;
    background-color: #faf9f9;

}

.damen:hover .damen-category,
.herren:hover .herren-category {

    visibility: visible;
}

.damen:hover,
.herren:hover {
    border-bottom: 2px solid $primary-color;
}

.damen:hover .btn-damen,
.herren:hover .btn-herren {
    color: $primary-color;
}

.shipping {
    width: 30rem;
    @include flex-display(flex, center, flex-end);

    a h6 {
        color: $dark-color;
    }
}



//DAMEN CATEGORY INSIDE

.damen-category {
    ul li {
        padding: .2rem;
        font-size: .9rem;
        color: $dark-color;
    }

    ul li:hover a {
        color: $primary-color;
    }

    h6:hover a {
        color: $primary-color;
    }
}



.damen-category-image {

    div img {
        width: 100%;
        height: 100%;
    }

}

//HERREN CATEGORY INSIDE
.herren-category {
    ul li {
        padding: .2rem;
        font-size: .9rem;
        color: $dark-color;
    }

    ul li:hover a {
        color: $primary-color;
    }

    h6:hover a {
        color: $primary-color;
    }
}



.herren-category-image {

    div img {
        width: 100%;
        height: 100%;
    }

}


// MAIN

main {
    margin-top: 1rem;
}

.image {

    box-shadow: 2px 2px 10px gray;
    border-radius: 10px;
    transition: $transition;
}

.image:hover {
    transform: scale(1.01);
    border: 2px solid $primary-color;
    cursor: pointer;
}


.image img {
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

// MARKEN

.marken-hr {
    margin: 1rem 0;
}

.marken {
    margin: 1rem 0;

    h2 {
        @include flex-center;
        color: $primary-color;
        text-decoration: underline;
    }

    p {
        font-size: 2rem;
        @include flex-center;
        width: 60%;
        margin: 1rem auto;
        text-align: justify;
    }
}


.barbons {
    height: 10rem;
    border-radius: 5px;
    background-color: $marken-bg;
    box-shadow: 2px 2px 5px gray;

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        @include flex-center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.barbons:hover {
    border: 2px solid $primary-color;
    cursor: pointer;
}


//Footer

footer {
    background-color: $dark-color;
    color: $light-color;

    .footer-title {
        padding: .2rem 0;
        font-size: 1.2rem;
        font-weight: 700;
    }

    ul li {
        margin: 1rem 0;

        a {
            color: $light-color;
        }
    }

    ul li:hover {
        a {
            color: $primary-color;
            cursor: pointer;
        }
    }

    .socialmedia-title {
        color: $light-color;
        margin: 1rem 0;
    }

    .socialmedia-title:hover {
        a {
            color: $primary-color;
            cursor: pointer;
        }
    }

    .social-media {
        display: flex;

        li {
            padding: 1rem;
            font-size: 1.5rem;
        }
    }
}







/*  BASKET HTML------------------------------------------*/

.basketSection {
    @include flex-center;

    .row {
        @include flex-center;
    }
}

.basket-col {
    height: 8rem;
    @include flex-center;
    border: 1px solid rgba(211, 211, 211, 0.541);
    border-radius: 5px;
    background-color: $marken-bg;

    .trolley {
        position: relative;

        span i {
            font-size: 3rem;
            color: $light-gray;
        }

        .shopNumber {
            background-color: $primary-color;
            text-align: center;
            clip-path: circle();
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            color: $light-color;
            top: 0px;
            left: 35px;


        }
    }
}

.produkt {
    @include flex-display(flex, center, space-between);
    border-radius: 5px;

    h3 {
        width: 50%;
        font-weight: normal;
    }

    h3:nth-child(2) {
        @include flex-display(flex, center, flex-end);
    }

    h3 a {
        background-color: $primary-color;
        color: $light-color;
        border: none;
        padding: .5rem 1rem;
        transition: $transition;

        width: 50%;

    }

    h3 a:hover {
        transform: scale(1.01);
        color: $light-color;
        font-weight: bold;
    }
}

.produkt * {
    font-size: 1.1rem;
    margin: 1rem;

}

/*  SHIPPING PAYMENT*/

.shipPay-section {
    @include flex-center;

    .row {
        @include flex-center;
    }
}


.versand,
.zahlung {
    border: 1px solid rgba(211, 211, 211, 0.541);
    height: 4rem;
    @include flex-display(flex, center, space-between);
    border-radius: 5px;

    h4 {
        font-weight: normal;
        font-size: 1.1rem;

    }

}



.versand {
    font-size: 1.2rem;
    background-color: $marken-bg;


    h4::before {

        content: "\f48b";
        font-family: "FontAwesome";
        display: inline-block;
        margin-right: 1rem;
        color: $dark-color;

    }

}

.zahlung {
    font-size: 1.2rem;
    background-color: $marken-bg;


    h4::before {

        content: "\f09d";
        font-family: "FontAwesome";
        display: inline-block;
        margin-right: 1rem;
        color: $dark-color;

    }

    .creditcards img {

        margin: 0.2em;

    }
}


//CATEGORY HTML


.colors {
    input {
        box-shadow: 1px 1px 3px lightgray;
        background-color: $search-bg;
        width: 90%;
        height: 1.2rem;

        font-size: .8rem;
        padding: .5rem;
        border-radius: .3rem;
        margin-bottom: .5rem;

    }

    .colorBox {
        display: flex;
        flex-wrap: wrap;


        a {
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 50%;
            margin: .5rem;
        }

    }
}

.form-check {
    input:checked {
        background-color: $primary-color;
        box-shadow: none;
    }
}

//PREIS FILTER

.preisFilter {
    input {
       
        background-color: $search-bg;
        box-shadow: 1px 1px 3px lightgray;       
        width: 2.2rem;
        height: .8rem;
        font-size: .8rem;
        padding: .5rem;
        border-radius: .3rem;
        margin-bottom: .5rem;
        margin: .1rem;
        margin-right: .3rem;
        border: 1px solid $marken-bg;
    }
    button {
       
        background-color: $search-bg;
        box-shadow: 1px 1px 3px lightgray;       
        width:2rem;
        height: 2rem;
        font-size: .8rem;
        padding: .5rem;
        border-radius: .3rem;
        margin-bottom: .5rem;
        margin: .1rem;
        border: 1px solid $marken-bg;
        @include flex-center;
    }
}



// CARDS
.forumGroup {
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card:hover img {
    transform: scale(1.1);

}

.card {
    height: 28rem;
    max-height: 28rem;
    position: relative;

    img {
        width: 100%;
        height: 70%;
        transition: $transition;

    }

    .star {
        .checked {
            color: $primary-color;
        }
    }

    .card-body {
        position: relative;

        .card-title {
            margin: 0;
            padding: 0;
            font-size: medium;
        }

        .card-text {
            margin: 0;
            padding: 0;
            font-size: small;
        }

        .star {
            &>span {
                font-size: small;
            }

            p {
                position: absolute;
                bottom: 0.1rem;

                span {
                    font-size: medium;
                }

                span:nth-child(1) {
                    text-decoration: line-through;
                    margin-right: .5rem;
                }

                span:nth-child(2) {
                    color: $primary-color;
                    font-weight: bold;
                }
            }

            button {
                background-color: $primary-color;
                color: $light-color;
                font-weight: bolder;
                transition: $transition;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .favorit {

        color: $primary-color;
        background-color: $light-color;
        clip-path: circle();
        width: 2rem;
        height: 2rem;
        @include flex-center;
        position: absolute;
        top: .5rem;
        right: 0.5rem;

    }
}

//Category Main Left Side







@media screen and (max-width:768px) {

    header {
        display: flex;
        flex-direction: column;

        .header-top {
            visibility: hidden;
        }

        .header-middle {
            display: flex;
            flex-direction: column;

            .logo {
                @include flex-center;

                a {
                    font-size: 3rem;
                }
            }

            .search-box {
                input::placeholder {
                    color: transparent;
                }
            }
        }

        .header-bottom {

            h6 a {
                font-size: .8rem;
            }

            ul li a {
                font-size: .7rem;
            }
        }
    }


    .marken {

        p {
            font-size: medium;

        }
    }

    footer {
        * {
            font-size: 95%;
        }
    }

    .shipping {
        display: none;
    }

    .header-bottom {
        @include grid-center;
    }


    .col-3 {
        width: 100%;
    }

    .left-side {
        display: none;
    }


}








/* The link goes to TOP*/

.goToTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: $light-gray;
    width: 2rem;
    height: 2rem;
    background-color: $marken-bg;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.4rem;

    :hover {
        color: $primary-color;
    }
}